createdAt: "2018-01-02T10:15:37.613Z"
updatedAt: "2018-01-03T02:55:58.221Z"
type: "MARKDOWN_NOTE"
folder: "45ae439defff6f46a769"
title: "增加禁止登录功能"
content: '''
  # 增加禁止登录功能
  
  1. 在后台用户列表中，针对每个用户增加【禁止登录】的功能。
  2. 对用户锁定账户以后，在前端登录时，<font color = ‘blue’>提示：您的账户已被锁定，请联系客服进行解锁。</font>
  
  # 未注册用户
  
  1. 用户注册验证邮箱后，必须进行实名认证，未进行实名认证的用户，不允许操作任何功能。
  2. 针对韩国认证用户，系统自动获取用户生日，自动判断是否满足18周岁，如未满足，则自动拒绝，不允许实名认证成功。
  3. 针对国外认证用户，由于是人工审核，则人工判断用户的证件号码的年龄是否满足18周岁，未满足，自拒绝，拒绝原因：您未满足18周岁，不允许注册成功。
  
  # 已注册未满足18周岁的用户
  
  1. 限制用户充值、充币、交易。只允许提现、提币。
  2. 充值、充币立即禁止。
  3. 交易从2018.1.5日起禁止。
  4. 提现、提币截止日期为2018.1.5 日 21:00点。
  
  
'''
tags: []
isStarred: false
isTrashed: false
