createdAt: "2018-01-08T10:11:50.728Z"
updatedAt: "2018-01-08T11:00:43.005Z"
type: "MARKDOWN_NOTE"
folder: "08db0d252d051d1862c4"
title: "产品与项目"
content: '''
  # 产品与项目
  
  ## 什么是项目?
  
  * 项目是在限定的资源及限定的时间内需完成的一次性任务。具体可以是一项工程、服务、研究课题及活动等。
  
  ## 什么是项目管理?
  
  * 指在项目活动中运用专门的知识、技能、工具和方法，使项目能够在有限资源限定条件下，实现或超过设定的需求和期望的过程。项目管理是对一些与成功地达成一系列目标相关的活动(譬如任务)的整体监测和管控。
  
  ## 什么是产品?
  
  * 产品是指能够提供给市场，被人们使用和消费，并能满足人们某种需求的任何东西，包括有形的物品、无形的服务、组织、观念或它们的组合。
  
  ## 什么是产品管理?
  
  * 产品管理是将企业的某一部分(可能是产品、产品线、服务、品牌、细分等)视为一个虚拟公司所做的企业管理，目标是要实现长期的顾客满意及竞争优势。
  
  
'''
tags: []
isStarred: false
isTrashed: false
