createdAt: "2018-01-08T05:47:16.287Z"
updatedAt: "2018-01-08T11:38:42.570Z"
type: "MARKDOWN_NOTE"
folder: "a77b981f3a0c50345221"
title: "韩国站差异点"
content: '''
  # 韩国站差异点
  
  * ### 注册登录
  1. 未满18周岁的用户不允许操作。
  2. 根据实名认证时自动判断。
  
  * ### 实名认证
  1. 韩国实名认证：需要绑定手机号，身份证件。连接韩国接口。
  2. 非韩国实名认证：需要绑定手机号，身份证件，证件照片。
  
  * ### 证件认证
  1. 韩国证件认证，上传证件照片，非必须项。
  2. 非韩国用户无证件认证。
  
  * ### 银行绑定
  1. 韩国用户需绑定银行卡后才可以进行韩元充值提现。
  2. 非韩国用户无银行绑定功能，不允许韩元充值提现。
  
  * ### 韩元提现
  1. 不同用户等级，提币限额不同。
  2. 充值--交易--提币有72小时限制。
  
  * ### 深度映射
  1. 映射平台：coinone、bithumb。
  
  * ### 交易规则
  1. 韩元价格无小数位。
  2. 有步长。
  
  * ### 在线客服
  1. 需连接韩国客服平台。
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
'''
tags: []
isStarred: false
isTrashed: true
