createdAt: "2018-01-10T02:51:33.790Z"
updatedAt: "2018-01-10T06:47:56.280Z"
type: "MARKDOWN_NOTE"
folder: "0d2c3c199ff0fad427f4"
title: "月计划"
content: '''
  # 月计划
  
  * ## BtcBox
  1. API文档日语化问题
  2. 网站footer的修改
  3. 后台客户认证详情里面照片的压缩方式
  4. 认证时语音验证码的位置错误
  5. ltc,eth转出记录中，点击地址的跳转链接不对
  6. APP和WAP上看不到【お知らせー通知】
  7. 后台收不到出金提醒mail
  8. BTC提高手续费问题
  9. 线上后台日元入金页面报错问题
  10. 海外地址用户】上传照片的说明文字修改
  11. 用户注册认证时，在选择国家列表时，更改为下拉菜单选择
  
  * ## Coinnest
  1. 取消链接问题
  2. 防护页面
  3. app 添加钱包地址增加二维码
  4. app 虚拟币转入，增加保存二维码
  5. 用户钱包地址同步到mysql管理
  6. cst清算以及btc2Setwit2x转换
  7. 上传证件照片的页面，上方提示增加关于图片大小限制的提示。单张图片大小不能超过800K.
  
  #### 以上为确定的需求，强插的需求随时处理。
  
  ---
  
  * ## 韩国站
  1. 基本功能保证上线。
  2. 深度映射。
  
  ---
  
  * ## 自己安排
  1. 对用户注册登录等用户功能列举原型，分析原因。
  
  ---
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
'''
tags: []
isStarred: false
isTrashed: false
