createdAt: "2018-01-02T10:57:52.015Z"
updatedAt: "2018-01-02T10:57:54.243Z"
type: "MARKDOWN_NOTE"
folder: "a77b981f3a0c50345221"
title: "产品竞品分析(20171229)"
content: '''
  # 产品竞品分析(20171229)
  
  ## 一、为什么要进行竞品分析？
  
  1. 通过竞品分析，可以了解竞品的产品与市场动态，结合自身产品进行对比，分析出优点与缺点。
  2. 了解其背后设计的真正原因，透过现象看本质，取其长补其短。
  3. 对产品需求要分析用户真正想要的，避免拍脑袋下决定。
  
  ## 二、竞品的确定
  
  1. 如何确定竞品？
      * 功能一样。
      * 用户群体相同或有交叉。
  2. coinbene、bcex这两款产品都是虚拟币交易所，与btctrade.im功能类似，且用户群体也基本上重合。
  
  ## 三、从哪几方面进行分析？
  
  1. 竞品分析涉及到的方面很多，包括：商业模式、市场运营、用户群体、产品背景等各方面。
  2. 找准一点进行竞品分析，以及明确本次竞品分析的目的才有意义。
  3. 结合目前产品情况，主要从产品功能、交互两个方面进行分析对比，其它方面暂不考虑。
  
  ## 四、竞品结构图
  
  1. 自身产品的结构图：Btctrade.im  
  ![BtcTrade.im](http://i1.bvimg.com/625374/9944ef8df9dce89f.png)
  
  2. Coinbene产品结构图：  
  ![Markdown](http://i1.bvimg.com/625374/201b3458e0e1bd32.png)
  
  3. Bcex产品结构图：  
  ![Markdown](http://i1.bvimg.com/625374/9874dc4812cbe7a0.png)
  
  4. 通过分析三款产品的结构，大体功能基本如下：
      * 用户：注册、登录、修改登录密码、忘记密码、交易密码、重置交易密码
      * 安全：安全等级、实名认证、身份认证、谷歌验证码、共享护照、异地登录
      * 交易：充币、提币、添加钱包地址、充提币记录、多个交易区、委托管理、历史记录
      * 辅助：API、K线、公告、活动
      * 其它：OTC、ICO
  
  5. 分析得出以下结论：
      * OTC应该打通，将Btctrade.im 与Coinbee 两个站打通，可相互转币，并且不收取手续费。方便用户进行法币交易。
      * ICO，由于国内禁止ICO，而Btctrade.im 是针对国际站的，所以ICO可根据公司战略进行考虑。
      * 多个交易区进行产易，目前网站上只有BTC、USC交易区，可根据市场与用户情况，再增加合适的交易区。
      
  ## 五、功能分析对比
  
  1. 结合目前Btctrade.im站的所有功能与其它两个站的功能进行对比，从而可分析出本产品的功能欠缺，对比如下：
  ![Markdown](http://i1.bvimg.com/625374/6b81da831babb01f.png)
  
  2. 根据功能对比得出以下结论：
      * 注册、登录流程要优化，尽量减少用户注册的成本。
      * 一些功能不要强制用户进行完成，可先让用户进行操作，待到必须要完成时，再引导用户进行完成。
      * 防刷机制要不断完善。
      * 要同时支持邮箱、手机号注册，手机号要根据国籍进行选择。
      * 异地登录机制的逻辑与显地要再优化，使用户在登录时自动跳转。
      * 手机号、邮箱只可绑定一个账号。
      * 图片验证码的要更换为用户更容易操作的控件。
      * 用户等级要进行划分，针对不同等级，提币或交易的手续费可不同。
      * 交易时要更方便用户进行切换其它交易对。
      * 不同币种的行情在首页显示，要更直观，布局样式要改变。
      * 通知机制要完善，币价波动、公告通知、提币、登录、修改密码等通知要及时告知用户。
      * 多语言要增加英文、韩、日。因为要立足国际市场，且目前市场活跃的两个市场包括日本与韩国。
      * 资产折合可同时显示CNY、USD。
      * 交易时的小数位控制可根据不同的币种进行不同的控制，因为有的币的价格高，有的币种价格低。
      * 将交易所与OTC打通。
  
  ## 六、交互分析对比
  
  1. 由于都是虚拟币的交易所，功能上基本上相同，那么产品交互就显示比较重要了，交互可直接影响用户在使用过程中是否符合用户的预期。对比如下：
  ![Markdown](http://i1.bvimg.com/625374/f4cd4056d706fdd8.png)
  
  2. 根据交互对比得出以下结论：
      * 注册、登录要有引导用户的指引。明确让用户知道下一步要做什么？
      * 登录密码与交易密码修改可显示在一个窗口。
      * 重置交易密码可通过邮箱或手机号的验证码进行校验后，直接重设交易密码。
      * 安全认证、身份认证要在用户操作某个功能时必须认证时才引导用户进行认证。
      * 交易区的选择在交易页面要让用户方便切换。
      * 充币提币切换不同币种，要在一个页面直接切换，不要跳转到其它页面。
      * 交易对的选择要分区显示。
      * 不同交易对的最新价格显示位置要更容易用户看到。
      
  ## 七、总结
  
  1. 通过分析coinbene、bcex与btctrade.im的功能与交互。整体来说btctrade.im还比较优于其它两款产品。
  2. 要明确我们的目的，就是要让用户使用我们的产品进行交易，并且要顺利的交易。
  3. 其它的一些功能都是为用户交易而服务的。所以一些不必要的功能都可以去掉。
  4. 要站在用户的角度去分析问题，操作要符合用户的预期。
  5. 要明白为什么这么做，意义是什么，不这么做可不可以。
  6. 要发现问题、分析问题、针对问题给出解决方案、设立解决方案的效果预期。按照这个准则去深挖。
  
  
  
'''
tags: []
isStarred: false
isTrashed: false
