createdAt: "2018-01-06T02:07:26.882Z"
updatedAt: "2018-01-08T11:38:46.133Z"
type: "MARKDOWN_NOTE"
folder: "a77b981f3a0c50345221"
title: "韩国站产品需求"
content: '''
  # 韩国站产品需求
  
  ## 一、背景
  * 韩国虚拟币市场火爆
  * 为开拓韩国市场，引流韩国用户
  
  ## 二、产品结构图
  ![韩国站产品需求](http://i2.bvimg.com/625374/a2b7ac0fab6c6a1d.png)
  
  ## 三、需求规则
  ---
  * ### 注册
  1. 仅支持邮箱注册。
  2. 自动判断邮箱格式是否正确，如不正确，则自动提示：邮箱格式不正确，请重新输入。
  3. 密码设置长度为6-20位。可对其进行显示明文与隐藏。
  4. 密码组合：大小写字母、数字、符号。至少包含一位大写字母。
  5. 密码强度：弱、中、强。任意一种强度为弱，任意两种强度为中，三种组合强度为强。密码强度设置至少为中。
  6. 不需要重复确认密码。密码强度不符合不允许通过。
  7. 验证码设置为图形验证码。针对韩国IP地址的图形验证码可用另一种验证码。
  8. 一个IP地址30分钟内只允许注册3次，连续第4次注册时提示：您已连续注册3次，请30分钟后再进行注册注册。记录次数为跳转到邮箱激活页面为1次。
  9. 注册协议与隐私条款必须同意才可以注册。
  10. 注册时判断该邮箱地址是否已是注册用户，如时则提示：此邮箱已是注册用户，可直接进行登录。
  11. 正确注册后需要进行邮箱激活才可以操作相应的菜单。
  
  * ### 登录
  1. 仅支持邮箱登录。
  2. 自动判断邮箱格式输入是否正确，如不正确，则自动提示：邮箱格式不正确，请重新输入。
  3. 密码可对其进行显示明文与隐藏。
  4. 登录判断账号是否是已注册用户，如是则判断账号与密码是否正确，不正确则提示：您的用户名或密码输入错误，请重新输入。
  5. 您的账户是未注册用户，则提示：该账户是未注册用户，请先注册后进行登录。
  6. 连接登录次数超过3次时，显示图形验证码进行校验。
  7. 密码连接输入错误次数超过5次，则自动锁定24小时，24小时后自动解锁。
  
  * ### 忘记密码
  1. 进行邮箱验证。
  2. 通过后进行密码设置。
  3. 密码设置规则与强度，与登录密码规则一样。
  
  * ### 交易密码
  1. 交易密码不允许与登录密码一致。
  2. 交易密码长度为6-20位字符。
  3. 交易密码组合为字母、数字、符号。
  
  * ### 修改登录密码
  1. 验证旧密码。
  2. 新密码设置规则与原来的一样。
  
  * ### 修改交易密码
  1. 验证旧密码。
  2. 新密码设置规则与原来的一样。
  
  * ### 重置交易密码
  1. 需进行邮箱验证。
  2. 交易密码不允许与登录密码一样。
  
  * ### 双重验证
  1. 与现在规则一样。
  
  ---
  
  * ### 实名认证
  1. 韩国实名认证：
     * 调用韩国实名接口。
     * 韩国实名认证时，只针对韩国用户进行认证。
     * 需要绑定用户的电话号码与实名信息。
     * 系统会获取用户的出生日期，系统自动判断用户的年龄是否满足18周岁，如未满足，则不允许实名认证通过。提示：根据国家政策，您未满足18周岁，不允许进行通过。
  2. 非韩国实名认证：
     * 除韩国以外的国际用户。
     * 需绑定手机号码，根据选择不同的国家显示相应的区号，验证相应的手机验证码，验证手机号是否是有效的。
     * 一个账号只允许绑定一个手机号码。如已绑定则提示：该手机号码已被其它账号绑定，请重新更换手机号进行绑定。
     * 进行实名认证判断，选择国家为中国时，证件类型只允许为身份证。选择其它国家时，证件类型只允许为护照。
     * 需要上传用户的证件照片，包括正面、反面、手持。
     * 实名后的状态为审核中，通过后显示用户的实名信息。不通过显示拒绝原因，用户需要重新申请实名认证。
     
  * ### 银行认证
  1. 通过韩国实名认证的用户才显示银行认证菜单，非韩国用户不显示该菜单。
  2. 银行认证需调用韩国银行接口。
  3. 需提供韩国银行列表。
  
  * ### 证件认证
  1. 通过韩国实名认证的用户才显示证件认证菜单，非韩国用户不显示该菜单。
  2. 证件认证需要用户上传韩国用户的证件照片，正面与手持。
  
  ---
  
  * ### 韩元充值
  1. 一次充值最少为5000韩元。
  2. 用户提交充值订单，需向系统提示的银行账号进行充值相应的韩元，并写好备注信息。
  3. 后台根据银行的充值列表信息与系统中用户提交的充值订单进行匹配，自动处理入账信息。
  4. 不符合的订单需要人工处理。
  5. 用户充值后的72小时后才可以进行提币。
  
  * ### 韩元提现
  1. 以下条件会进行限制：
     * KRW 入账 → BTC 买入 → BTC 卖出 → KRW 提现 : 72个小时时间限制
     * BTC 入账 → BTC 卖出 → KRW 提现 : 没有时间限制
     * ETH 入账 → ETH 卖出 → KRW 提现 : 没有时间限制
     * ETC 入账 → ETC 卖出 → KRW 提现 : 没有时间限制
     * LTC 入账 → LTC 卖出 → KRW 提现 : 没有时间限制
     * KRW 入账 → 虚拟货币买入 → 虚拟货币卖出 : 72个小时时间限制
  2. 提现只允许提现到认证的银行卡中。
  3. 提现需提行交易密码验证，手机验证码验证。
  4. 用户提交订单后，后台由客服人员进行处理。
  
  ---
  
  * ### 充币、提币、交易限制规则
  1. 参照Coinnest充币、提币、交易限制规则如下：
  ![Markdown](http://i4.bvimg.com/625374/a901ec39db88033f.jpg)
  2. 根据韩国站的实际情况再做适当调整。
  
  ---
  
  * ### 深度映射
  1. 根据韩国地区交易所，可映射：coinone、bithumb这两个平台作参考对象。
  
  * ### API
  1. API单独为一个菜单项，包括：API申请、API说明、API代码、API示例。
  
  ---
  
  * ### 客服系统
  1. 在线客服可应用韩国当地的客服商：happytalk、kakao。
  2. 帮助中心可从个人信息、认证与安全、充值提现、币种介绍、交易这5个部分进行总结问题并展示于用户。
  
  ---
  
  * ### 后台功能
  
  1. 将财务中心与交易列表菜单分开。
  2. 财务中心中只有韩元充值、提现与各币种的充币、提币。
  3. 交易列表中只有各币种的挂单、成交。
  4. 方便后期增加其它交易区。
  5. 用户实名认证菜单区分出未审核、审核中、通过。
  
  ---
  
  ## 四、大体流程图
  ![韩国站流程图](http://i4.bvimg.com/625374/060e1af2a2ab9763.jpg)
  
  ## 五、问题
  
  * ### 需解决以下问题
  1. 韩国用户的实名认证接口对接。
  2. 韩国银行对公账户。
  3. 韩国客服。
  
  以上为大体需求，后续再讨论进行补充。
  
  
'''
tags: []
isStarred: false
isTrashed: true
