createdAt: "2018-01-11T07:07:54.601Z"
updatedAt: "2018-01-11T07:24:40.306Z"
type: "MARKDOWN_NOTE"
folder: "4c2e04fa7d241bd76c5b"
title: "隐私条款"
content: '''
  # 隐私条款
  Jbex 严格遵守信息通信网使用及促进信息保护等相关法律（以下称为“信息通信网法”）及个人信息保护法等韩国国内的个人信息保护法律。
  
  “个人信息处理方针”是为了保护用户个人信息以便用户放心使用，Jbex 必须遵守的方针。
  
  ## 1. 收集个人信息
  
  用户未注册会员时，也可以使用与会员相同的时价功能。用户为使用交易所、钱包等服务注册会员时，Jbex 为了提供服务，会收集所需的最小限度的个人信息。用户不同意收集并使用个人信息时，可以拒绝同意请求。但，如果未同意收集个人信息项目中必备项的收集及使用，可能会限制部分功能的使用。
  
  º在注册个人会员时，Jbex 会收集用户的“邮箱、密码”等必备信息。
  
  º在注册企业会员时，会收集“邮箱、密码、企业名称、营业执照、法人注册编号、法人住址、代表姓名、负责人姓名、负责人联系方式”等必备项。
  
  注册会员后，为了使用交易所、钱包功能，向用户额外收集的个人信息如下：
  
  º手机认证：手机号码
  
  º本人认证：姓名、手机号码、出生日期、性别、国内/外国人信息、注册的通信公司、重复注册确认信息（DI）、同一人识别信息（CI）
  
  º注册账户：存折账号/金融机构名称、存款人名称
  
  º上调等级：姓名、出生日期、手机号码、住址、身份证（身份证号码后几位除外）、居住地证明、视频信息
  
  Jbex 通过如下方法收集个人信息：
  
  º在注册会员及使用服务过程中，当用户同意收集个人信息并直接填写信息时，会收集相应的个人信息。
  
  º在客户中心咨询的过程中，可以通过网页、邮箱、传真、电话等收集用户的个人信息。
  
  º可以通过线下活动、研讨会上以书面形式收集个人信息。
  
  º机器信息等生成信息可以在PC web、Mobile web/APP的使用过程中自动生成并被收集。（访问IP信息、Cookie、服务使用记录、访问log）
  
  ## 2. 使用个人信息
  
  用户的个人信息仅用于以下目的，改变使用目的时务必事先征求用户的同意。
  
  º为识别用户、确认注册意向及年龄、防止不良会员不当使用、确认注销会员意向等会员管理工作而使用个人信息。
  
  º对违反法律及 Jbex 使用条款的会员采取限制使用措施，防止及制裁阻碍服务顺利运营的不当使用行为、盗用账户及非法交易行为，转达修改条款等通知事项，保存调解纠纷记录及信访处理等，为了保护用户及服务运营而使用个人信息。
  
  º根据服务使用记录及访问频率分析、使用服务统计、服务分析及根据统计结果提供定制服务并刊载广告等而使用个人信息。
  
  º在进行活动时，用于信息传达、市场营销及广告等
  
  º从安保、个人隐私的安全层面考虑，为构建能让用户放心使用的服务环境而使用个人信息。
  
  ## 3. 提供及委托个人信息
  
  Jbex 原则上不会在未经用户同意的情况下向外部提供用户个人信息。但，用户为了使用外部合作公司的服务直接同意提供个人信息、依据相关法令 Jbex 产生提交个人信息义务时以及仅限在确认用户的生命或安全存在紧急危险并为消除该危险的情况下提供个人信息。
  
  Jbex 为了便捷地提供更好的服务，已委托外部完成部分业务。
  
  Jbex 为了提供服务，委托外部企业完成部分必要的工作，受到委托的企业根据信息通信网法规定管理并监督必要的事项，以保证个人信息的安全。
  
  ![Markdown](http://i4.bvimg.com/625374/c529166b7ab3b2cf.jpg)
  
  ## 4. 个人信息的跨境转移
  
  本站为顺利向客户提供各种支持、不断提高客户便利，使用境外云端等各种服务。现就个人信息的跨境转移事项，告知如下。
  
  1）同意使用海外云端（Amazon）相关个人信息的海外转移。
  
  ①转移项目（请确认本站收集的个人信息项目）
  
  电子邮箱、密码、姓名、手机号码、银行账户、出生年月日、性别、本国人/外国人信息、
  
  重复注册相关信息（DI）、同一人物识别信息（CI）、IP地址、Cookies、服务使用记录、服务日志、
  
  地址、身份证复印件（遮盖个人身份识别码）、影像信息
  
  ② 转移国家·时日·方式
  
  国家：提供Amazon Global Cloud服务地区（美国）
  
  时日：客户注册、个人信息变更时
  
  方式：通过Global Cloud地区所在server强化保安的专用网络移动信息位置
  
  ③信息接收者
  
  公司名称：Amazon Web Services, Inc.
  
  地址： P.O. Box 81226
  
  Seattle, WA 98108-1226 联系电话：(206) 266-4064
  
  传真：(206) 266-7010
  
  ④转移目的
  
  为本站运营而提供Global Cloud服务
  
  ⑤保留·使用期限
  
  收集和获取个人信息的目的达成时
  
  5. 销毁个人信息
  
  Jbex 原则上会在用户注销会员时立即销毁用户的个人信息。但，在获得用户对个人信息保存期限的单独同意时或法律赋予一定期限的信息保管义务时，可以在相应期限内安全保管个人信息。电子商务等消费者保护相关法律、电子金融交易法、通信秘密保护法等法令规定在一定期限内保管信息的情况如下。Jbex 在此期间内依据法律规定保管个人信息，严禁将该信息用于其他目的。
  
  a. 消费者不满或纠纷处理的相关记录
  
  º 保存理由：电子商务等消费者保护的相关法律
  
  º 保存时间：3年
  
  b. 清算贷款及提供财物等相关记录
  
  º 保存理由：电子商务等消费者保护的相关法律
  
  º 保存时间：5年
  
  c. 合同或取消合约等相关记录
  
  º 保存理由：电子商务等消费者保护的相关法律
  
  º 保存时间：5年
  
  d. 登录记录
  
  º 保存理由：通信秘密保护法
  
  º 保存时间：3个月
  
  e.防止不当使用的公司内部方针
  
  º 不当使用记录：5年
  
  获得用户对个人信息保存期限单独同意的情况如下：
  
  Jbex 在客户注销或客户被除名时，为防止权力滥用、恶用，应对各种纠纷及委托协助调查，自解除使用合同之日起5年内保存个人信息。
  
  在注销会员、完成服务、获得用户许可的个人信息保存期限到期的情况下，完成收集与使用的个人信息将会以无法复原的方式销毁。
  
  º 法律赋予保存义务的信息在超过相应期限后，也会以无法复原的方式销毁。
  
  º 利用技术方法安全删除电子文档形态的信息，使其无法恢复或复原。打印物等会利用粉碎的方式进行销毁。
  
  ## 6. 信息主体、法定代理人的权利·义务及行使方法
  
  a.信息主体随时可以行使以下各项个人信息保护相关的权利。
  
  º 个人信息确认要求
  
  º 出错等情况下的修正要求
  
  º 删除要求
  
  º 停止处理要求
  
  b.根据（a）项的权利行使，可以通过使用书面文件、电话、电子邮件、传真（FAX）等方式向个人信息保护负责人及负责部门提出请求，此时Jbex 会立即对其采取措施。
  
  c.信息主体要求停止或删除个人信息的错误内容时，公司直至停止或删除完成为止不得使用或提供相应的个人信息。
  
  d.根据（a）项可以通过信息主体的法定代理人或受到委任的人等代理人行使权力，该情况下，应根据个人信息保护法施行规定附则第11号格式提交委托书。
  
  e.用户在任何时候均可查询或修改录入的本人个人信息，也可以申请撤销及注销。
  
  ## 7. 个人信息自动收集装置的设置、运营及拒绝的相关事项
  
  Jbex 为了向每位用户提供私人化及定制型的服务，会使用储存的会员信息并随时调出的Cookie。Cookie能够让运营并使用网站的服务器通过向用户的浏览器发送微小的数据包，从而将其存储于会员电脑的硬盘里。
  
  Cookie等的使用目的
  
  º通过分析用户的访问频率或访问时间等，判断、追踪用户的喜好及关注领域，掌握各种活动的参与程度及访问次数等，进行目标营销并提供私人定制服务
  
  拒绝设置Cookie的方法
  
  º用户拥有是否设置Cookie的选择权。因此，用户可以在网站浏览器中通过设置选项允许所有Cookie或在Cookie每次被存储时进行确认，还可以拒绝所有Cookie的存储。但，在拒绝设置Cookie时，有可能难以使用登录所需的部分服务。
  
  示例）设置方法示例（IE浏览器下）：网站浏览器上端的工具 > 网络选项 > 个人信息
  
  ## 8. 个人信息的管理性/技术性/物理性保护对策
  
  Jbex 在处理用户的个人信息方面，为了保证安全性以防止个人信息丢失、失窃、泄露、伪造或损坏，强调如下的管理性/技术性/物理性对策。
  
  a. 密码加密
  
  用户的密码加密存储与管理，只有用户本人知晓。确认个人信息也只有知晓密码的用户本人能够进行确认。
  
  b. 应对黑客等的对策
  
  Jbex 正竭尽全力防止因黑客或电脑病毒等导致会员的个人信息泄露或损坏。为防备个人信息的损坏，随时备份资料，运用最新的杀毒软件防止用户个人信息或资料被泄露或毁损。通过加密通信等方式，使个人信息在网络上得以安全传输。另外，Jbex 还使用入侵预防系统，控制外部的强行访问。为了确保其他系统的安全性，正在努力备齐可能的所有技术性装置。
  
  c. 尽量减少并培训个人信息相关的受理职员
  
  Jbex 将个人信息相关的受理工作人员限定于负责人内，依此赋予其单独的密码并定期进行更新。Jbex 将随时对负责人进行培训，并不断强调遵守个人信息的处理方针。
  
  d. 个人ID与密码管理
  
  原则上，用户所使用的ID与密码仅供用户本人使用。对于因用户个人疏忽泄露ID、密码、手机号码等个人信息所产生的问题及因基本的网络危险性问题所发生的事情，Jbex 概不负责。用户应具备相关的基础安全意识，并经常更改密码。在公共PC上登录时，请特别注意以防止个人信息的泄露。
  
  ## 9. 个人信息管理责任人及负责人的联系方式
  
  Jbex 为了综合并承担个人信息处理的相关业务、进行个人信息处理及其相关信息主体的投诉处理与消除损害等，指定了如下的个人信息保护责任人。
  
  → 个人信息保护责任人
  
  姓名：姜周榮
  
  联系方式：cpo@coinnest.co.kr
  
  用户在使用Jbex 服务（或事业）所发生的所有个人信息保护相关的咨询、投诉处理、消除损害等事项，均可向个人信息保护责任人及负责人进行咨询。Jbex 对于信息主体的咨询，会立即做出答复并进行处理。
  
  ## 10. 消除权益侵害方法
  
  信息主体可以向以下机构寻求个人信息侵害相关的消除损害、咨询等。
  
  <以下机构作为与Jbex 相互独立的机构，请在不满意Jbex 对个人信息投诉的处理、消除损害的结果或需要更详细的帮助时，通过以下渠道进行咨询>
  
  → 损害个人信息申报中心（韩国网络振兴院运营）
  
  º 管辖业务：个人信息损害事实的投诉、申请咨询
  
  º 网站：privacy.kisa.or.kr
  
  º 电话：（无区号）118
  
  º 地址：(138-950)首尔市松坡区中台路135 韩国网络振兴院个人信息损害申报中心
  
  → 个人信息纠纷调解委员会（韩国网络振兴院运营）
  
  º 管辖业务：申请个人信息纠纷调解、调解团体纠纷（民事解决）
  
  º 网站：privacy.kisa.or.kr
  
  º 电话（无区号）118
  
  º 地址：(138-950)首尔市松坡区中台路135 韩国网络振兴院个人信息损害申报中心
  
  → 大检察厅网络犯罪调查团：02-3480-3573（www.spo.go.kr）
  
  → 警察厅网络恐怖分子应对中心：1566-0112（www.netan.go.kr）
  
  ## 11. 通知义务
  
  在现有的个人信息处理方针下，存在内容新增、删除及修改时，应在修改至少7日前起通过网站或单独通知进行公告。
  
  º 该个人信息处理方针自2018/01/05起生效。
'''
tags: []
isStarred: false
isTrashed: false
