createdAt: "2018-01-08T11:39:15.174Z"
updatedAt: "2018-01-10T06:38:56.767Z"
type: "MARKDOWN_NOTE"
folder: "4c2e04fa7d241bd76c5b"
title: "韩国站需要确认的问题"
content: '''
  # 韩国站需要确认的问题
  
  1. 韩国信用卡
     * 提供韩国的信用卡，用于购买服务器
  2. aws账号
     * 信用卡提供过来后，由小文负责搭建
  3. 韩国短信服务商
     * 网址：http://caller.co.kr/
     * 提供封装好的jar包
  4. 国际短信云片账号申请
     * 网址：www.yunpian.com
     * 请注册账号并充值一定金额
     * 提供过来账号与密码
  5. 在线客服韩国接口
     * happytalk、kakao
     * 需要提供注册后的账号
     * 包括以上接口的链接地址
  6. 韩国实名认证接口
     * 网址：https://nice.checkplus.co.kr
     * 提供一组凭证可供调用
     * 支持php扩展包
  7. 韩国银行对公账号
     * 尽量多提供几个对公账户
     * 包括：新韩银行、农协银行、企業銀行、友利银行。
  8. 韩国用户可绑定银行列表
     * KDB产业银行
     * IBK企业银行
     * KB国民银行
     * KEB韩亚银行
     * 水协银行
     * 韩国进出口银行
     * 农协银行
     * 友利银行
     * 新韩银行
     * 第一银行
     * 韩亚银行
     * 韩国花旗银行
     * 大邱银行
     * 釜山银行
     * 光州银行
     * 济州银行
     * 全北银行
     * 庆南银行
     * 新农村银行
     * 信协银行
     * HSBC
     * 邮政储蓄
     * K-Bank
     * Kakao Bank
  9. 韩国邮箱服务商
      * 服务商：enpick
      * 提供账号与密码
  10. 深度映射
      * coinone、bithumb完成身份认证的账户
  
  
'''
tags: []
isStarred: false
isTrashed: false
