createdAt: "2018-01-11T15:17:33.127Z"
updatedAt: "2018-01-11T16:25:24.251Z"
type: "MARKDOWN_NOTE"
folder: "a77b981f3a0c50345221"
title: "需要增加的功能"
content: '''
  # 需要增加的功能
  
  1. 充值记录导出。
  2. 提现记录导出。
  3. 导出历史委托记录。
  4. 资金流水 比特星网站有。
  5. 
'''
tags: []
isStarred: false
isTrashed: false
