createdAt: "2018-01-10T06:53:49.615Z"
updatedAt: "2018-01-10T09:15:16.353Z"
type: "MARKDOWN_NOTE"
folder: "a77b981f3a0c50345221"
title: "交易页面一屏显示"
content: '''
  # 交易页面一屏显示
  
  根据用户交易时的原则，所必须要显示的数据：
  1. 所选币的最新价、最高价、最低价、涨跌幅、成交量。
  2. 简版K线图，可切换到专业版K线。
  3. 买卖盘。
  4. 深度列表。
  5. 各区币种列表
  6. 资产列表
  
  
'''
tags: []
isStarred: false
isTrashed: false
