createdAt: "2018-01-03T08:23:06.000Z"
updatedAt: "2018-01-05T10:31:48.623Z"
type: "MARKDOWN_NOTE"
folder: "a77b981f3a0c50345221"
title: "用户注册登录"
content: '''
  # 用户注册登录
  
  ## 注册登录
  
  * 注册登录要回答以下几个问题：
  1. 为什么要进行注册？
     a. 收集用户信息。
     b. 针对新闻类系统，尽管不用注册也可以浏览，但无法准确统计一些用户数据。
     c. 针对用户来说，注册产生一个ID，相当于身份识别，并且有相应的权限。
     d. 注册登录的本质是为了区分用户，每个用户可有独自的权限。
  2. 注册登录的前提条件是什么？
     a. 对用户的干扰性降到最低。
     b. 符合用户的期望值。
     c. 让用户感觉到对自身有利。
  3. 注册登录的设计的注意事项有哪些？
     a. 明确产品的属性，最主要要获取用户哪些信息。
     b. 注册登录触发事件应该在哪个核心功能中。
     c. 注册登录的核心流程。
  4. 注册登录要达到的目的是什么？
     a. 使访客顺利转化为注册用户。
     b. 减少用户流失率。
  
  ## 验证码
  
  * 验证码存在的意义
  1. 防止机器或恶意程序对其进行暴力破解。
  2. 用来区分人与机器。
  
  ## 密码
  
  * 密码的本质是什么
  1. 为了对用户的账户起到保护作用。
  2. 那么只要达到保护的作用，任何方法都可以有密码的作用。
  3. 手机验证码、邮箱验证码都可以起到保护的作用。
  
  ## 确认重复密码
  
  * 确认重复密码的需求背景
  1. 早期设设备较单一，且用户使用场景较少。如网吧等。
  2. 大多数都是以用户名为账号进行注册。
  3. 防止用户密码输错，导致找回密码不方便。
  
  * 现在存在的意义
  1. 目前设备多，包括pc，app。
  2. 使用手机、邮箱注册，可获取验证码。
  3. 找回密码也方便。
  4. 可以去掉。
'''
tags: []
isStarred: false
isTrashed: false
