createdAt: "2018-01-10T09:23:37.187Z"
updatedAt: "2018-01-11T07:06:37.383Z"
type: "MARKDOWN_NOTE"
folder: "4c2e04fa7d241bd76c5b"
title: "注册协议"
content: '''
  # 注册协议
  ## 第一章 总则
  #### 第1条 目的
  
  该条款的目的是对 Jbex（以下称为公司）提供的Jbex及Jbex相关的全部服务（以下称为服务）使用条件及步骤，规定其公司与会员间的权利、义务、责任事项及其他必要事项。
  
  #### 第2条（条款的明示、说明及修改）
  
  1.该条款内容将公示于公司服务会员注册相关的网站或以其他方式向用户进行公示，用户作为会员申请并同意，则该条款生效。
  
  2.公司仅在不违反“关于条款限制法律”、“关于信息通信网使用促进及信息保护等法律”等相关法律的范围内，可对条款进行修改。
  
  3.公司修改条款时，需明示适用日期及修改事由，并在适用日期前7天至适用日期前一天的期间内发布于公司网站的初始画面及公告事项栏。
  
  4.公司根据前一条内容公告通知修改条款，并向会员明确告知或通知的7天内，不发表任何意见将视为已表明意见，在此情况下会员仍未提出明显的拒绝意向时，则将视为会员同意该修改条款。
  
  5.当会员明确提出无法同意对修改条款的使用时，则公司也无法使用修改条款的内容，此时会员可解除使用合同。但，当存在无法使用当前条款的特殊情况时，公司可解除使用合同。
  
  #### 第3条（条款外的准则）
  
  对于本条款中未规定的事项及对本条款的解释，将根据电商交易法等相关消费者保护法律、条款规定等相关法律、公平交易委员会所指定的电商交易等消费者保护方针、相关法令规定及一般商业惯例执行。但，对于会员相互间通过公司所提供的服务进行的交易，将优先适用登门销售等相关法律、电子商务基本法、消费者保护法等相关法令，会员根据该条款的规定，无法向交易对方提出免责主张。
  
  #### 第4条（用语定义）
  
   1. 在该条款中使用的用语定义如下：
  
  ①会员：指认同该条款并注册会员，与公司签订服务使用合同者。
  
  ②用户名（ID）：指为识别会员及使用服务，会员按照公司要求所设定的文字及数字组合。
  
  ③官网：指为会员能够使用公司的服务，由公司所提供的Jbex网站。
  
  ④密码：指为确认会员同一性并保护会员信息，会员按照公司要求所设定的文字及数字组合。
  
  ⑤销售者：指以销售虚拟货币为目的，按照公司在网上提供的格式上传相关虚拟货币或注册会员者。
  
  ⑥购买者：指以购买虚拟货币为目的，按照公司在网上提供的格式上传相关虚拟货币或注册会员者。
  
  ⑦自主交易：指交易虚拟货币的过程中，销售者与购买者通过相互指定的方法，在无公司参与的情况下进行交易。
  
  ## 第二章 服务使用注册及许可（注册会员及注销）
  #### 第5条（使用合同生效）
  
  1.用户按照公司所制定的格式填写会员信息后，同意该条款，最终完成会员注册。
  
  2.会员获得公司允许，才可视为完成会员注册。
  
  3.使用会员ID来签订使用合同。使用合同生效，合同注册者被纳入会员。
  
  4.非实名或盗用他人姓名、电话号码等个人信息非法注册的会员将不受法律保护，对此在民事、刑事上的所有责任均由此注册会员者承担。
  
  5.未满19岁者，将受到由Jbex提供的虚拟货币交易相关服务的使用限制。
  
  6.根据第一项注册内容，必要时公司将根据关联法规按照用户种类向专业机构请求实名确认及本人认证。若拒绝公司的此类请求申请，将无法获得本人认证，由此发生的损失公司概不负责。
  
  #### 第6条（使用申请）
  
  1.使用申请需按照公司所制定的注册申请格式，在线填写所需信息并完成注册。
  
  2.在线注册申请格式中所填写的所有会员信息，将视其为真实数据，未填写实名或实际信息的用户无法获得法律保护且将受到服务使用的限制。
  
  3.填写了非真实信息、虚假信息、或事后发现此类信息时，公司可暂时停止或永久停止该类用户的服务使用并解除与其的使用合同。由此对公司或第三者产生的损失，均由相关会员负责。
  
  4.公司可通过邮箱、邮寄信函及电话等方式，向会员发送公司服务相关的各种有益信息。
  
  #### 第7条（同意会员信息使用及使用申请）
  
  1. 同意会员信息使用
  
  ①对会员个人信息，公司将以履行该使用合同及提供使用合同上的服务为目的。
  
  ②为会员便利使用公司及与公司合作企业的服务，可将会员信息提供给与公司合作的企业。但，公司在提供会员信息前，需对合作企业、提供目的、需提供的会员信息内容等进行事先公告并获得会员同意。
  
  ③公司如有会员明确提出的拒收意见，则不得传送进行合作的广告性信息。但，公司为便利合作服务的使用便利性，以SMS及URL方式传送使用介绍及产品信息等，不愿接受该类信息的会员，可通过注销会员身份来拒绝接收该信息。
  
  ④会员可通过修改会员信息，随时确认并修改个人信息。
  
  ⑤会员在申请书中填写会员信息，并根据该公司条款进行使用申请，将视为同意公司根据该条款收集、使用并提供申请书中所记载的会员信息。
  
  2. 同意使用申请
  
  ①公司将对按照公司所制定的注册申请格式正确记录所需的所有事项，并同意提出使用申请的会员注册。但，公司有权保留对于第2、3项的同意或拒绝。
  
  ②公司对符合如下各项者，有权保留对使用申请者的同意申请。
  
  a) 设备不充足
  
  b) 技术受阻
  
  c) 因其他公司事由，无法许可使用同意
  
  ③ 公司有权拒绝符合如下各项的使用申请。
  
  a) 姓名非实名
  
  b) 使用其他人的名义进行注册
  
  c) 注册使用申请时，填写内容造假
  
  d) 注册目的有碍社会安定秩序或美风良俗
  
  e) 未完整填写公司所指定的使用申请条件
  
  #### 第8条 (终止并解除使用合同)
  
  1.根据会员或公司的解除/终止使用合同。对于因会员的解除导致的使用合同终止，由此产生的损失将由终止使用合同的相关会员负责，公司概不负责。
  
  ①会员想解除使用合同时，需由会员本人通过互联网向公司提出解除申请。
  
  ②当会员做出符合如下各项中的任意一项行为时，公司有权在一定时间内限制或解除服务的使用。
  
  (a) 存在做出如下各项行为的情况
  
  ▪	盗用他人服务账户（ID）及密码
  
  ▪	故意妨碍服务运营
  
  ▪	注册的名字非实名
  
  ▪	故意发布妨碍公共秩序及美风良俗的内容
  
  ▪	会员以阻碍国家利益或社会公益为目的，计划使用及使用本服务
  
  ▪	进行有损他人名誉及利益的行为
  
  ▪	以妨碍服务的稳定运营为目的，传送大量信息或广告性信息
  
  ▪	发布引发信息通信设备的不当运转或破坏信息等的电脑病毒程序等
  
  ▪	使用他人个人信息、用户ID及密码进行不当使用
  
  ▪	在未获得公司认可的情况下，复制、传播及以商业目的通过使用公司服务信息而获得的信息
  
  ▪	同一用户使用不同ID进行双重注册
  
  ▪	侵害了公司、其他会员及第三者的知识产权
  
  ▪	存在外部机构的改正要求或参与非法选举活动并受到选举管理委员会的正式解释
  
  ▪	违反了包括本条款及其他公司所制定的使用条件
  
  ▪	向长期休眠注册者发送通知后，在通知期间仍未明确表示使用服务意见
  
  ▪	会员上传并销售不符合销售的商品、试图进行及进行了违反其他公共秩序及美风良俗的商品交易行为
  
  ▪	在无购买意向的情况下向会员提出销售请求后拒绝购买，或会员在没有销售物品意向的情况下上传物品
  
  ▪	在未获得用户同意的情况下，收集、保存及公开个人信息
  
  ▪	使用通过公司服务信息获得的信息诱导直接交易
  
  ▪	为改善其他公司的服务，公司政策上不可避免
  
  (b) 如下各项的情况
  
  ▪	经运营者或管理者判断得出不符合使用
  
  ▪	经客观判断存在与犯罪关联的行为
  
  ▪	存在违反其他相关法令的行为
  
  2. 终止服务使用或限制步骤
  
  ①当公司想限制使用时，需制定其事由和时间，以书面、电话或网站小纸条功能等方式通知相关会员或代理人。但，被认为公司需要紧急停止使用时，可在不经过前项步骤的情况下限制服务的使用。
  
  ②获得服务使用终止的会员或其代理人对使用终止存在异议时，可提出异议申请。
  
  ③在停止使用期间，经公司确认其停止使用事由被解除时，需立即解除停止权限。
  
  3. 解除使用合同
  
  ①当公司做出停止使用服务或限制后，出现了2次以上的相同行为或在30日内该事由未得到纠正或违反了1.(a)的行为时，公司可解除使用合同。
  
  ②当公司解除使用合同时，将销毁会员注册的权利。公司在此情况下需向会员进行通知，并在销毁会员注册时给予其举证的机会。
  
  #### 第9条（变更会员信息）
  
  1.会员可通过个人信息修改画面，随时确认并修改本人的个人信息。但为了服务管理，所需的实名、出生日期、性别及账号名称等无法进行修改。
  
  2.当会员变更注册会员时所填写的事项时，需通过互联网进行修改或以电子邮件等其他方式向公司告知对其的变更事项。
  
  3.因未告知公司第二项的变更事项所产生的损失，公司概不负责。
  
  ## 第三章 会员的义务
  #### 第10条（关于会员账号及密码的会员义务）
  
  1.关于账号与密码的所有管理责任均由会员承担。由于疏忽管理与不当使用会员账号及密码所导致的所有问题的后果，均由会员独自承担。
  
  2.当会员得知自己的账号被不当使用的事实时，需立即向公司通报此事并根据公司要求处理此事。
  
  3.对于第二项内容，相关会员未将此事通报给公司或通报后未按照公司要求处理问题所导致的损失，公司概不负责。
  
  #### 第11条（提供信息）
  
  公司可通过电子邮件或邮寄书信等方式向会员提供被认为使用服务所需的如下信息，若会员不愿接收，可在申请会员菜单及会员信息修改菜单中拒收信息。
  
  1. 交易虚拟货币相关的服务
  
  2. 有关活动的服务
  
  3. 经其他公司任意决定向会员提供的活动
  
  ## 第四章 服务使用总则
  #### 第12条（服务的种类）
  
  1.在公司提供的服务中，存在虚拟货币的交易（销售、购买、提供交易API、时价信息搜索等相关服务）服务等。
  
  2.公司可随时根据公司情况变更其所提供的服务种类，公司所提供服务的版权及知识产权为‘公司’所有。
  
  3.公司将根据服务向会员赋予根据公司使用条件制定的账号、ID、服务、积分等的使用权限，会员不得利用其提供相似服务并从事商业活动。
  
  #### 第13条（服务内容的公告及变更）
  
  1.公司需根据服务种类，在服务画面发出不同服务特点、步骤及方法的公告，会员则在使用服务前，需理解公司发布公告的不同服务的相关事项。
  
  2.当服务内容有所变更时，公司至少需在变更7天前发布公告，因会员本人未查阅公告内容所造成的损失，公司概不负责。
  
  #### 第14条 （服务的维护及终止）
  
  1.业务上或技术上无特殊障碍时，将以每天24小时提供服务为原则。但因定期维护等需求，公司所指定的日期或时间除外。
  
  2.公司可按照一定范围分割服务，并以单独时间段指定不同范围的使用时间。在此情况下，公司需对此内容发出公告。
  
  3.符合如下各项内容时，公司可终止提供服务。
  
  ①出现用于服务的设备进行维护工作等不可避免的情况时
  
  ②根据电气规定事业法的规定，主要电信业务经营者终止了电信通信服务
  
  ③合作企业等第三方提供服务而非公司亲自提供服务，由合作企业等的第三方中断服务时
  
  ④存在其他不可抗力事由时
  
  4.公司可在国家紧急状态、停电、服务设置的障碍或服务使用火爆等影响正常服务使用时，限制或终止全部或部分服务。
  
  5.当出现公司无法更换新服务或其他公司无法提供服务的事由时，可终止提供的服务。
  
  #### 第15条（会员结算使用限制）
  
  1. 对符合如下各项事项者，公司可限制会员的结算使用。
  
  ▪	结算使用金额超额
  
  ▪	经判断销售者与购买者为同一人
  
  ▪	存在结算服务提供商及发行商的请求时
  
  ▪	因其他公司的运营政策，需限制结算使用
  
  2. 当符合如上事项时，公司需使用官网的小纸条等功能告知会员相关内容。
  
  3. 重复出现终止事由时，仅限于配备了所有解除终止条件下才可进行解除。
  
  #### 第16条（限制会员的入账及支出）
  
  1. 符合如下各项内容时，公司可限制或延缓会员的入账及支出功能的使用。
  
  ▪	入账时，注册会员姓名与汇款者姓名不同
  
  ▪	注册会员后，首批支出额超额
  
  ▪	因其他公司的运营政策，限制或延缓入账及支出
  
  ▪	脱离了公司指定的服务使用权限范围
  
  2. 当符合如上事项时，公司需使用官网的小纸条等功能告知会员相关内容。
  
  3. 重复出现使用限制及延缓事由时，仅限于配备了满足管理者或运营者的解除条件下才可进行解除。
  
  ## 第五章 关于使用虚拟货币进行交易的服务
  #### 第17条（上传销售虚拟货币/上传购买等）
  
  1.欲通过公司提供的服务销售或购买虚拟货币的会员，需按照公司提供的上传格式注册交易。
  
  2.附加服务的使用
  
  ▪欲销售虚拟货币的会员为有效进行销售，可在注册交易时申请由公司提供的附加服务。对于附加服务的具体内容，需根据公司另行制定执行。
  
  ▪销售/购买虚拟货币时，将由Jbex向会员提供所有服务，为加大每位会员个人的便利仅赋予使用权限，并禁止提供脱离服务使用权限范围的所有类似服务及商业性活动。
  
  3.修改虚拟货币注册信息
  
  ①对新增已上传的虚拟货币信息等的修改，在交易进行后无法对其进行变更。
  
  ②上传虚拟货币后，无法取消所申请的附加服务，但可新增。
  
  ③被购买者选定时，无法删除。
  
  4.除手续费外的收入
  
  ▪在使用公司服务的过程中，公司获得的利息收入具有公司为虚拟货币货款结算所提供服务代价的性质，会员无法对此提出返还请求。
  
  #### 第18条 (交易服务使用限制)
  
  分类终止事由解除条件停止生效
  限制服务除登录外，无法使用服务 - 未确认名义(联系方式)
  - 出现黑客侵入/诈骗事故
  - 事故会员相关者(联系方式及个人信息一致)
  - 结算安全连续出现错误
  - 申请注销
  - 其他：管理者判断(导致正常进行服务出现严重障碍时) - 解决终止事由
  - 管理者判断 除登录外，禁止交易、充值、支出
  限制登录 - 密码连续错误
  - 出现黑客入侵/诈骗事故
  - 怀疑名义被盗用时
  - 其他：管理者判断
  - 怀疑使用API提供相似服务并从事商业性活动时 - 解决终止事由
  - 管理者判断 无法登录
  限制部分服务(限制购买、销售及进出账)经管理者判断除购买/销售/进出账等特定服务外使用无问题时，将进行部分服务的限制。 - 解决终止事由
  - 管理者判断 无法使用特定服务
  #### 第19条（关于保管虚拟货币的内容）
  
  1.公司以6个月以上未访问的会员为对象，为无法预料的事故保管虚拟货币的安全，将拥有的虚拟货币或未支出的虚拟货币，可以当时时价转换为现金进行保管。
  
  2.6个月以上未访问会员向公司提出所拥有虚拟货币的返还请求时，公司将以保管的状态返还。
  
  ## 第六章 服务使用手续费
  #### 第20条（虚拟货币交易相关服务手续费的内容）
  
  1.公司作为向购买者/销售者提供互联网服务的平台，将向其收取手续费。手续费已公示于公司官网的使用方法中，手续费可根据公司及市场现状进行变动。
  
  2.当公司更新新服务或出现其他公司无法提供服务的事由时，可中断提供中的服务。
  
  ## 第七章 保护个人信息
  #### 第21条（同意使用会员信息）
  
  1.会员的个人信息适用公司的个人信息保护政策。会员在使用申请书中填写会员信息，并根据该条款向公司申请使用，将视为同意公司收集、使用及提供根据该条款的使用申请书填写的会员信息。会员信息管理者为公司指定的运营者。
  
  2.为高效方便会员使用公司及与公司合作企业的服务，公司可根据该条约中制定的步骤，使用或向合作企业提供会员信息。但，公司除了根据电信通信基本法等法律规定存在国家机关的要求时、存在对犯罪调查的目的及信息通信伦理委员会的申请或存在其他相关法令中制定的基于程序的申请时，会随时事先向会员告知合作企业、所提供目的、所提供的会员信息内容等，并仅限于获得会员同意的情况下将会员信息公开或发布给第三者。但在进行交易时，正常完成交易所出现的双方当事人之间的交易与相关商户信息的交换不适用本条款。
  
  3.使用申请者或会员在申请使用时，如所填写的个人信息有变更，应立即通过运营者或公司会员变更窗口，对相关事项进行修改。但由于信用管理，无法修改会员ID、姓名、出生日期及性别等。
  
  4.根据前项，因未修改信息导致的各种损失均由会员独自承担，对于该类情况，公司概不负责。
  
  5.会员因个人信息的受理对公司进行投诉时，应通过书面形式向公司提出相关内容。此时，公司将根据合法流程处理会员的投诉。
  
  6.根据第8条解除会员的使用合同，并根据电子商务交易等相关的消费者保护法律的相关法律所明示的资料保管使用合同被解除会员的个人信息，并在其后进行删除。
  
  7.虽然公司具有销毁个人信息的义务，但根据商法等相关法令存在保存的必要时，可在相关法令指定的期间内保存会员的个人信息。
  
  8.为使用特定服务需要收集或传送个人信息时，公司必须事先告知会员此事并获得会员的同意。
  
  9.在未获得会员同意下，不得使用并提供会员所提供的个人信息用于目的以外的事情。但，如下事项除外。
  
  ## 第八章 损害赔偿及免责条款
  #### 第22条（损害赔偿）
  
  公司对脱离该条款规定买卖规则的交易所发生的一切事故及因销售者或购买者过失导致的纠纷概不负责。因公司合作商所导致的损失将遵循合作商的条款，并以解决合作商与会员之间的纠纷为原则。
  
  ## 第23条（免责条款）
  
  1.符合如下各项时，公司概不负责。
  
  a）出现战争、事变及自然灾害或与此相当的国家紧急事态等不可抗力情况时
  
  b）因用户故意或过失导致的损失时
  
  c）根据电信通信事业法，其他主要电信业务经营者所提供的电信通信服务导致障碍时
  
  2.对于用户的责任承担理由所导致的服务使用障碍，公司概不负责。
  
  3.对于用户所公布或传送的资料内容，公司概不负责。
  
  4.对于虚拟货币发行管理系统、通信服务企业的不良服务、因定期维护服务器导致虚拟货币传达出现瑕疵等，公司概不负责。
  
  5.上传于Jbex交易所的虚拟货币内容为各会员上传的内容，公司对所有上传内容概不负责。
  
  #### 第24条（否认代理及保证）
  
  1.公司不具备代理会员欲购买或销售虚拟货币的权限，公司的任何行为均不被视为销售者或购买者的代理行为。
  
  2.关于公司所提供的服务来完成会员间的销售及购买，公司不保证销售或购买意向的事实、真伪及合法性。
  
  3.公司不保证链接于公司网站所涉及的商品或劳务。公司与链接于公司的网站为独立运营，并且其与会员间进行的交易本公司概不负责。
  
  #### 第25条（管辖法院及准据法）
  
  1.出现与公司费用体系等服务使用相关的纠纷时，公司指定总部所在地法院为管辖法院解决此问题。
  
  2.公司与会员间对使用服务相关内容进行诉讼时，将适用韩国法律。
  
  附则
  
  1. 本条款自2018年1月1日起生效。
'''
tags: []
isStarred: false
isTrashed: false
