createdAt: "2018-01-08T11:37:39.782Z"
updatedAt: "2018-01-08T11:37:41.995Z"
type: "MARKDOWN_NOTE"
folder: "4c2e04fa7d241bd76c5b"
title: "韩国站产品方案(第一版)"
content: '''
  # 韩国站产品方案(第一版)
  
  ## 一、域名规化方案
  
  1. 新的域名
  2. 二级域名
  3. 在原域名后增加后缀
  
  ## 二、功能规划
  
  * ### 国际站与韩国站可随时切换
  1. 在国际站与韩国站增加站点切换功能，可切换跳转到相应的站点。
  2. 多语言为每个站点相互独立。
  3. 切换到韩国站，默认语言为韩文。切换到国际站，默认语言为中文。
  4. 后期增加新的国家站点时，直接增加相应的下拉菜单即可。
  5. 用户登录域名后，根据国家IP来判断进入哪个站点，韩国IP进入韩国站，非韩国IP进入国际站。
  6. 用户登录的状态下，切换到另一个站点，也默认为登录状态。
  
  * ### 用户体系
  1. 国际站与韩国站共用账号密码。
  2. 在韩国站注册的用户可以在国际站登录，在国际站注册的用户可以在韩国站登录。
  3. 支持邮箱注册，后期支持国际手机号注册。
  4. 交易密码为各站共用。
  5. 实名认证方案一：共用一套实名认证体系。
     a. 在国际站实名认证的用户在韩国站也默认为国外用户实名认证成功，可以充币提币交易，但不允许充值提现韩元。
     b. 在韩国站实名认证的用户在国际站也默认为认证成功，可以充币提币产易。
     c. 如增加其它站点，也按此认证方式进行。
  6. 实名认证方案二：相互独立实保认证体系。
     a. 在国际站实名认证成功的用户在韩国站也需要重新实名认证。
     b. 在韩国站实保认证成功的用户在国际站也需要重新实名认证。
     c. 如增加其它站点，也按此认证方式进行。
  7. 实名认证方案，建议采用第一种。实名认证主要功能区别为是否可充值提现韩元，如增加其它站点，也相当于是充值提现其它法币。但只要是实名认证成功的用户都可以提币。
  8. 双重验证、修改密码功能也共用一套，在一个站设置好后，在另一个站也相当于设置。
  9. 用户安全的页面基本上共用一套，在各个站切换时看到的页面基本相同。
  
  * ### 财务资产
  
  1. 财务中心只显示当前交易所有币种资产列表，每个币种列表增加【资产互转】功能按钮。
  2. 资产互转可直接在国际站与韩国站针对选中的币进行互转。
  3. 韩国站的韩元充值提现功能菜单只针对在韩国站实名认证成功的用户显示，否则不显示。
  4. 其它菜单都显示。
  
  * ### 交易功能
  
  1. 韩国站支持：BTC、LTC、ETH、ETC、XRP 这5个币种对韩元的交易。
  2. 要开发针对韩元交易的撮合系统。
  3. 针对各个币交易时的小数位、手续费等再定。
  4. 币的转出小数位、手续费、矿工费，转入时的确认数等再定。
  
  * ### 后台功能
  
  1. 用户表增加站点字段，用户从哪个站点注册的，归为哪个站点的用户。
  2. 在后台查看用户列表，可根据选择不同站点进行查看。也可单独增加菜单或TAB键进行区分查看。
  3. 用户的币种列表增加站点字段，可查看每个用户在不同站点的币种资产信息。
  4. 统计用户资产可统计每个用户在各个站点的总资产列表，也可按不同站点进行资产统计。
  5. 钱包布署一次即可在各个站点通用。各站点的热钱包数量设置需与技术沟通。
  6. 用户登录不同站点，显示的菜单项根据不同站点进行判断是否显示。
  7. 共用一套后台系统，增加其它站点时，只需增加相应的菜单项即可。
  
  * ### 其它
  
  1. 是否要快速上线？
  2. 
  
  
  
   
'''
tags: []
isStarred: false
isTrashed: false
