createdAt: "2018-01-10T18:44:12.058Z"
updatedAt: "2018-01-10T19:23:39.280Z"
type: "MARKDOWN_NOTE"
folder: "a77b981f3a0c50345221"
title: "通过注册登录所感悟到的"
content: '''
  # 通过注册登录所感悟到的
  
  * ## 注册
  1. 注册都需要有引导流，让用户知道下一步要做什么。
  2. 淘宝、京东、支付宝注册时都有引导。
  3. 要明白产品属性，哪些是注册时必须要用户提供的数据。
  
  * ## 登录
  1. 扫描二维码、账号密码登录两种方式。
  2. 密码输入错误超过规定次数后显示出图形验证码。
  3. 用户登录后要记录所在的设备，硬件ID，作为判断是该账号的依据。
  
  * ## 登录密码
  1. 密码的作用是起到防护安全的。
  2. 密码强度的设置是为了防暴力破解。
  3. 这是用户账户安全的第一道防线。
  
  * ## 修改密码
  1. 修改密码的前提是要确认是本人所为。
  2. 手机验证码、邮箱验证码、原密码三种方式进行验证。
  
  * ## 支付密码
  1. 设置6位数字。
  2. 密码设置越长，利用穷举法，破解时间越长，但计算能力越快，密码总会破解。
  3. 密码越长越安全只是一种心理安慰。
  4. 美国著名的心理学家乔治·米勒通过研究提出 “正常的成年人在通常情况下，只能在短时间内记住7个数字，因为个体差异，上下限分别为5~9”，这是认知心理学中很出名的“七加减二”原理。
  5. 多重防线起到降低风险的作用。
  6. 支付密码输入错误3次即立即锁定账户。
  
  * ## 实名认证
  1. 实名认证的作用是为了证明这是一个真实有效的账户，不是一个虚拟的账户。
  2. 用户通过实名认证起到安全与提高信任的作用。
'''
tags: []
isStarred: false
isTrashed: false
