createdAt: "2018-01-02T10:58:28.970Z"
updatedAt: "2018-01-02T10:58:31.162Z"
type: "MARKDOWN_NOTE"
folder: "0d2c3c199ff0fad427f4"
title: "2017.12工作总结"
content: '''
  # 2017.12工作总结
  
  * ## 通过培训学到以下几点：    
  
  1. 什么是产品？
  2. 什么是产品经理？
  3. 产品经理的职责是什么？
  4. 如何出一个解决方案？
  5. 产品要达到什么效果？
  6. 产品经理的个人技能要具备哪些？
  7. 产品要达到的最终目的是什么？
  8. 产品的管理工具有哪些？
  9. 产品经理存在的意义是什么？
  10. 产品归纳的知识体系是什么？
  
   * 问题与解决方案：
  
  1. 工作流程疏理？
      * 采用trello进行需求跟踪，并与技术确定使用规则。
      * 每周开会沟通一周工作安排与问题，并及时解决。
  2. 
'''
tags: []
isStarred: false
isTrashed: false
