createdAt: "2018-01-12T06:36:28.039Z"
updatedAt: "2018-01-12T07:15:42.205Z"
type: "MARKDOWN_NOTE"
folder: "4c2e04fa7d241bd76c5b"
title: "问题确认后"
content: '''
  # 问题确认后
  1.	韩国信用卡
  周五领取信用卡，领取之后补发信用卡资料
  2.aws账号
  3. 韩国短信服务商 
  ID: coincloud
  PASS:coin1173
  4.  云片账号申请
  ID：coincloud1@gmail.com
  PASS：coin1173
  •已充值100元人民币
  5. happy talk 
  ID:coincloud 
  PASS:coin1173
  Kakaotalk需要一个没有申请过的电话号码注册。
  6:韩国实名认证接口
  确认日期之后可立刻购买
  7.韩国银行对公账号
  开设账号需要隔20天工作日。
  银行对交易所开设账号的要求为房屋出租期限为两年以上。
  原因是目前金融监督委员会进行管制。
  8.韩国用户可绑定银行列表
  9.韩国邮箱服务商
  ID:coincloud1@gmail.com 
  PASS:coin1173
  10.深度映射
  Coinone
           ID:coincloud1@gmail.com
           PASS:Coin1173 (C为大写)
  Bithumb
           ID:coincloud1@gmail.com
           PASS:Coin1173++（C为大写）
           保安密码：1173
  
  # dfdf
  ## eerwg
  ---
  
  * qwefeqw
  1. 醒脾全
  ![Markdown](http://i2.bvimg.com/625374/a2b7ac0fab6c6a1d.png)
  
'''
tags: []
isStarred: false
isTrashed: false
